---
import axios from "axios";
import type { itemType } from "../../../types/database";

//! replace the owner id with the logged in user id
const dbAddress = import.meta.env.API_URL;
const items = await axios.get(
  `${dbAddress}/api/items.json?query=owner = "i3jpejj5qsvjg5n"`
);

const itemsData = items.data;
---

<ul class="menu menu-xs bg-base-200 rounded-lg max-w-xs w-full">
  {
    itemsData.map((item: itemType, index: number) => (
      <li>
        <details>
          <summary>{item.title}</summary>
          <ul>
            <li>
              <a>article</a>
            </li>
            <li
              hx-trigger="mouseover once"
              hx-get={`/api/questions.json?query=item = "${item.id}"`}
            >
              <details>
                <summary>questions</summary>
                <ul id={"item-" + index + "-question"} />
              </details>
            </li>
          </ul>
        </details>
      </li>
    ))
  }
</ul>
