---
import axios from "axios";
import type { questionType } from "../../../../types/database";
const origin = import.meta.env.API_URL;

const { url } = Astro.request;
const newUrl = new URL(url);

let data = [];

try {
  const questions = await axios.get(
    `${origin}/api/questions.json${newUrl.search}`
  );
  data = questions.data;
} catch (error) {
  console.log(error);
}
---

{
  data.map((question: questionType, index: number) => (
    <li>
      <a href="">{question.answears}</a>
    </li>
  ))
}
