---
import Editor from "../components/Editor/Editor.astro";
import Main from "../layouts/main.astro";
import FileTree from "../components/FileTree/FileTree.astro";
---

<Main>
  <main class="grid grid-rows-2 grid-cols-1 lg:grid-rows-1 lg:grid-cols-6">
    <nav class="col-span-1">
      <FileTree />
    </nav>
    <aside class="flex flex-col col-span-5 gap-4 pl-4">
      <Editor />
    </aside>
  </main>
</Main>
