---
import Main from "../layouts/main.astro";
import Quizes from "../layouts/quizes.astro";
import Card from "../components/card.astro";
import type { itemType } from "../../types/database";

let items: itemType[] = [];
const api = import.meta.env.API_URL;
try {
  const response = await fetch(`${api}/api/items.json`);
  items = await response.json();
} catch (error) {
  console.log("Couldn't fetch data");
}
---

<Main>
  <Quizes>
    <main class="flex gap-4 mt-8 flex-wrap">
      {
        items.map((item: any, index) => (
          <Card {...item} key={"card-" + index} />
        ))
      }
    </main>
  </Quizes>
</Main>
