---
import Main from "../layouts/main.astro";
import Quizes from "../layouts/quizes.astro";
import Card from "../components/ItemCard/card.astro";

const response = await fetch("http://localhost:3000/items");
const items = await response.json();
---

<Main>
  <Quizes>
    <main class="flex gap-4 mt-8">
      {items.map((item: any) => <Card {...item} />)}
    </main>
  </Quizes>
</Main>
