@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  ::-webkit-scrollbar {
    width: 10px;
    transition: 700ms;
  }

  ::-webkit-scrollbar-track {
    background-color: #003558;
    border-radius: 20px;
    cursor: grab;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #80ED99;
    transition: 700ms;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #57CC99;
    transition: 700ms;
  }
}