---
import type { InputHTMLAttributes } from "react";
const props: InputHTMLAttributes<HTMLInputElement> = Astro.props;
console.log(props);
---

<div class="form-control normal-case flex">
  <label class="cursor-pointer flex justify-between w-full">
    <span class="label-text text-neutral">
      <slot />
    </span>
    <!-- @ts-ignore -->
    <input {...props} type="checkbox" class="checkbox checkbox-accent" />
  </label>
</div>
