---
import { CreateFolderIcon, DeleteIcon, EditIcon } from "../lib/icons";
---

<ul class="menu menu-horizontal py-0">
  <li class="text-success"><a><CreateFolderIcon /></a></li>
  <li class="text-secondary"><a><EditIcon /></a></li>
  <li class="text-error"><a><DeleteIcon /></a></li>
</ul>
