---
import { CreateFolderIcon, DeleteIcon, EditIcon } from "@lib/icons";
import Input from "./input.astro";
import Textarea from "./textarea.astro";

const { data } = Astro.props as { data: Playlist };
---

<ul class="menu menu-horizontal py-0">
  <li class="text-success"><a><CreateFolderIcon /></a></li>
  <li class="text-secondary">
    <a onclick="
    CUD.showModal()
    "><EditIcon /></a>
  </li>
  <dialog id="CUD" class="modal">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
          >✕</button
        >
      </form>
      <h3 class="font-bold text-lg">Edit the <b>{data.title}</b> playlist</h3>
      <div class="modal-action">
        <form class="w-full flex flex-col justify-center items-center gap-4">
          <Input
            label="Title"
            inputConfig={{
              class: "input input-bordered w-full max-w-xs",
              value: data.title,
            }}
          />
          <Textarea
            label="Description"
            inputConfig={{
              class:
                "textarea textarea-bordered h-48 w-full max-w-xs resize-none",
            }}
            value={data.description}
          />
          <button class="btn">save</button>
        </form>
      </div>
    </div>
  </dialog>
  <li class="text-error"><a><DeleteIcon /></a></li>
</ul>
