---

---

<dialog class="modal" id="delete_modal">
  <div class="modal-box">
    <div class="kbd absolute right-2 top-2">Esc</div>
    <h3 class="font-bold text-lg">Alert!</h3>
    <p class="py-4">Press ESC key or click outside to close</p>
    <button class="btn btn-error" {...Astro.props}>delete</button>
  </div>
</dialog>
