---
const { content } = Astro.props;
---

<div class="prose prose-2xl w-full">
  <div id="editor" class="hidden" set:html={content} />
  <div id="loadingEditor" class="text-center">loading...</div>
</div>
<button id="save" class="btn btn-xs btn-accent w-fit px-4">save</button>
<script>
  import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
  import axios from "axios";

  window.onload = () => {
    const editorElement = document.querySelector("#editor") as HTMLElement;
    const loadState = document.querySelector("#loadingEditor") as HTMLElement;

    let editor: ClassicEditor;

    ClassicEditor.create(editorElement)
      .then((newEditor) => {
        editor = newEditor;
        loadState.remove();
      })
      .catch((error) => {
        console.error(error);
      });

    document.querySelector("#save")!.addEventListener("click", async () => {
      console.log();
      const content = editor.getData();
      const res = await axios.post("/api/items.json", {
        content,
      });
    });
  };
</script>
