---
import axios from "axios";
import type { itemType, playlistType } from "../../types/database";
const api = import.meta.env.API_URL;

//! replace the owner id with the logged in user id
const playlists = await axios.get(
  `${api}/api/playlists.json?query=owner = "i3jpejj5qsvjg5n"`
);

const playlistsData = playlists.data;
---

<ul class="menu menu-xs bg-base-200 rounded-lg max-w-xs w-full">
  {
    playlistsData.map((playlist: playlistType, index: number) => (
      <li
        hx-get={`/api/filetree/items?query=playlist = "${playlist.id}"`}
        hx-target={"#playlist-" + index + "-items"}
        hx-trigger="mouseover once"
      >
        <details>
          <summary>{playlist.title}</summary>
          <ul id={"playlist-" + index + "-items"} />
        </details>
      </li>
    ))
  }
</ul>
