---
import type { TextareaHTMLAttributes } from "react";
const { label, value, inputConfig } = Astro.props as {
  label?: string;
  value?: string;
  inputConfig: TextareaHTMLAttributes<HTMLTextAreaElement>;
};
---

<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">{label}</span>
  </label>
  <!-- @ts-ignore -->
  <textarea {...inputConfig}>{value}</textarea>
</div>
