---
import Input from "@components/input.astro";
import Textarea from "@components/textarea.astro";
import { Image } from "astro:assets";
---

<form id="edit-item" class="col-span-6 flex flex-col items-center">
  edit item metadata
</form>
