---
import Wrapper from "@components/item/Wrapper";

let data: {
  cover: string;
  color: string;
  title: string;
  description: string;
} = { cover: "", color: "#000000", description: "", title: "" };

try {
  const formBody = await Astro.request.formData();
  data.color = (formBody.get("color") as string) || "";
  data.cover = (formBody.get("cover") as string) || "";
  data.title = (formBody.get("title") as string) || "";
  data.description = (formBody.get("description") as string) || "";
} catch (error) {
  console.log(error);
}
---

<div id="edit-item" class="col-span-6">
  <Wrapper client:only data={data} />
</div>
