---
import type { itemType } from "../../../../types/database";
import Question from "../../../components/Question/question.astro";
import Main from "../../../layouts/main.astro";
export const prerender = false;
const { playlist, itemId } = Astro.params;
const itemRequest = await fetch(`http://localhost:3000/items/${itemId}`);
const item = (await itemRequest.json()) as itemType;
---

<Main>
  <main>
    <script>
      sessionStorage.setItem("points", "0");
    </script>
    <article class="prose" set:html={item.content} />
    {item.content && item.questions.length > 0 && <div class="divider" />}
    <article class="space-y-4">
      {
        item.questions.map((question, index) => (
          <Question question={question} index={index + 1} />
        ))
      }
    </article>
  </main>
</Main>
