---
import MainNav from "@layouts/MainNav.astro";
const { playlistId, itemId, questionId } = Astro.params;
---

<MainNav>
  <ul
    hx-get={`/dashboard/files?playlistId=${playlistId}&itemId=${itemId}&questionId=${questionId}`}
    hx-trigger="load"
    hx-swap="innerHTML"
    hx-select=".playlist"
    class="bg-neutral menu row-span-full col-span-3 overflow-y-auto border-r border-base-100"
  >
  </ul>
  <main class="bg-neutral row-span-full col-span-9">
    <div id="dashboard-content" class="grid grid-cols-1">
      <slot />
    </div>
  </main>
</MainNav>
