---
import MainNav from "@layouts/MainNav.astro";
import {
  GhostCreateFileIcon,
  GhostCreateFolderIcon,
  CollapseAllIcon,
} from "@lib/icons";

const { playlistId, itemId, questionId } = Astro.params;
---

<MainNav>
  <ul
    class="bg-neutral menu group/tree row-span-full col-span-3 overflow-y-auto border-r border-base-100"
  >
    <li
      hx-get={`/dashboard/files?playlistId=${playlistId}&itemId=${itemId}&questionId=${questionId}`}
      hx-trigger="load"
      hx-swap="afterend"
      hx-select=".item"
      id="treeRoot"
    >
      <ul
        class="menu menu-horizontal relative [&_li>a]:p-1 [&_li>a]:text-lg gap-1 flex justify-end"
      >
        <li class="text-left m-auto ml-0 capitalize font-semibold">
          dashboard
        </li>
        <li>
          <a
            hx-post="/dashboard/files"
            hx-swap="afterend"
            hx-target="#treeRoot"
            hx-select=".item"
          >
            <GhostCreateFolderIcon />
          </a>
        </li>
        <li>
          <a
            id="collapseAll"
            href="/dashboard"
            hx-select="#dashboard-content"
            hx-target="#dashboard-content"
            hx-swap="outerHTML"
          >
            <CollapseAllIcon />
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <main class="bg-neutral row-span-full col-span-9 overflow-y-auto">
    <div id="dashboard-content" class="grid grid-cols-1">
      <slot />
    </div>
  </main>
  <script>
    const collapseDetails = () => {
      const details = document.querySelectorAll<HTMLDetailsElement>(".detail");
      details.forEach((detail) => {
        detail.open = false;
      });
    };

    window.onload = () => {
      document
        .getElementById("collapseAll")
        ?.addEventListener("click", collapseDetails);
    };
  </script>
</MainNav>
