---
import { DashboardIcon, ProfileIcon } from "@lib/icons";
---

<html data-theme="mytheme" class="w-full h-full">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <meta name="htmx-config" content='{"globalViewTransitions":"true"}' />
    <title>Odpytywacz</title>
  </head>
  <body hx-boost="true" class="w-full h-full p-4">
    <nav class="navbar bg-neutral max-w-[80%] m-auto sticky top-2 z-10">
      <div class="navbar-start">
        <a class="btn btn-ghost text-xl" href="/">Odpytywacz</a>
      </div>
      <div class="navbar-end">
        <ul class="menu menu-horizontal px-1">
          <li>
            <a class="text-2xl" href="/dashboard">
              <DashboardIcon />
            </a>
          </li>
          <li>
            <a class="text-2xl" href="/profile">
              <ProfileIcon />
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div
      id="main-content"
      class="max-w-[80%] grid grid-cols-12 grid-rows-5 m-auto pt-2 h-[90%] relative"
    >
      <slot />
    </div>
  </body>
</html>
